<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Резюме</h1>
    <b>Имя пользователя:</b> {{login}}<br>
    <b>ID пользователя:</b> {{id}}<br>
    <b>Имя:</b> {{name}}<br>
    <b>Электронная почта:</b> {{email}}<br>
    <b>Компания:</b> {{company}}<br>
    <b>Биография:</b> {{bio}}<br>
    <b>Репозитории:</b> {{pub_repos}}<br>
    <b>URL:</b> {{url_git}}<br>
    <b>Дата создания:</b> {{datetime}}<br>
</body>
</html>